@import "./common/var.scss", "./common/vuetify.scss", "./common/layout.scss";
@import "./container/login.scss", "./container/home.scss";
@import "./mobile.scss";

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

// 禁止拖拽
a,
img {
    -webkit-user-drag: none;
}

// 移除默认滚动条
#app {
    overflow: hidden;
}
