@use "@/styles/common/root";

// 卡片
.v-card {
    display: flex;
    opacity: root.$global_opacity;
    min-width: 360px;
}

// 顶栏
// .v-toolbar {
//     z-index: 1 !important;
// }

// 输入框底部隐藏详细说明
.v-input__details {
    display: none !important;
}
