$logo_url: "https://testingcf.jsdelivr.net/gh/4444TENSEI/CDN/img/avatar/kaze/ico/public.ico";
$home_background_url: "https://testingcf.jsdelivr.net/gh/4444TENSEI/CDN@master/img/background/yoru/001.webp";

$global_opacity: 0.9;